{% extends 'base.html.twig' %}

{% block title %}Menus MIAM MIAM{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        {% for menu in menus %}
        <div class="col-lg-3 col-md-4 mb-3">

            <div class="card h-100">
                <img src="{{ asset(menu.img) }}" class="card-img-top object-fit-cover" style="height: 8rem;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ menu.name}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ menu.price}}€</li>
                    <li class="list-group-item">Nom de la catégorie :{{ menu.categories.name}}</li>
                    <li class="list-group-item">quantité restante :{{ menu.quantite}}</li>
                </ul>
                <div class="card-body">
                    <a href="{{ path('menus_show', {'id' : menu.id}) }}" class="card-link">lien vers mon article</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}