{% extends 'base.html.twig' %}

{% block title %}Voici le Produit souhaiter
{% endblock %}

{% block body %}
<h1>Voici le Produit souhaiter</h1>

<div class="box-shadow">
    <img src="{{ asset(menu.img) }}" alt="">
    <div class="card-content">
        <h1>{{ menu.name}}</h1>
        <br>
        <h2>{{ menu.price}}€</h2>
        <br>
        <h5>Type : {{ menu.categories.name}}</h5>
        <br>
        <p>quantité restante : {{ menu.quantite}}</p>
    </div>
</div>


{% endblock %}