{% extends 'base.html.twig' %}

{% block title %}Menus MIAM MIAM{% endblock %}

{% block body %}
<h1>Voici les Diffréntes catégories</h1>

<a class="liens" href="{{ path('categories', {'id' : 1}) }}">
    <h4>Sucré</h4>
</a>
<a class="liens" href="{{ path('categories', {'id' : 2}) }}">
    <h4>Salé</h4>
</a>
<a class="liens" href="{{ path('menus_
categories') }}">
    <h4>Tout affiché</h4>
</a>

<div class="card-container">

    {% for menu in Menus %}

    <div class="card">
        <img src="{{ asset(menu.img) }}" alt="">
        <div class="card-content">
            <h1>{{ menu.name}}</h1>
            <br>
            <h2>{{ menu.price}}€</h2>
            <br>
            <h5>Nom de la catégorie :{{ menu.categories.name}}</h5>
            <br>
            <p>quantité restante :{{ menu.quantite}}</p>
            <a class="liens" href="{{ path('menus_show', {'id' : menu.id}) }}">lien vers mon article</a>

        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}